{% if paginator.total_pages > 1 %}
<ul class="articles-pager">
  {% if paginator.first_page %}
  <li>
    <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">First</a>
  </li>
  {% else %}
  <li>
    <a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">First</a>
  </li>
  {% endif %}

  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a>
  </li>
  {% endif %}

  {% if paginator.page_trail %}
  {% for trail in paginator.page_trail %}
  <li {% if page.url == trail.path %}class="articles-pager-selected"{% endif %}>
    <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
  </li>
  {% endfor %}
  {% else %}
  {% for page in (1..paginator.total_pages) %}
  <li {% if page == paginator.page %}class="articles-pager-selected"{% endif %}>
    {% if page == 1 %}
    <a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  </li>
  {% endfor %}
  {% endif %}

  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &rarr;</a>
  </li>
  {% endif %}

  {% if paginator.last_page %}
  <li>
    <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last</a>
  </li>
  {% else %}
  <li>
    <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}">Last</a>
  </li>
  {% endif %}
</ul>
{% endif %}
