---
layout: default
---

<section class="content">
  <head class="content-item content-head">
    {%- if page.title -%}
    <h1 class="content-title">{{ page.title }}</h1>
    {%- endif -%}
  </head>
  <main class="content-item content-main">
    {{ content | markdownify }}

    <div class="articles-preview">
      {%- for post in paginator.posts -%}
      {%- include article-preview.html article=post -%}
      {% endfor %}
    </div>
  </main>
  <footer class="content-item content-footer">
    {%- include paginator-pager.html -%}
  </footer>
</section>
